chatwoot_domain: 'https://your-chatwoot-domain.com'
api_access_token: 'your_chatwoot_api_access_token'
account_id: 'your_account_id'
openai_api_key: 'your_openai_api_key'
openai_uri_base: "https://api.openai.com/"
llm_model: gpt-4o-mini
